body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(stamps2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.navbar {font-family: 'Lukiest Guy', cursive;
color: red;
font-size: 18px;

}

.jumbotron {
	background-color: gold;
}

.table {
	border: 5px solid black;
	background-color: gold;
	margin-top: 20px;
	font-size: 18px;
	font-family: 'Indie Flower'
}

#Kyoto img {
	border: 10px solid black;
}

#Capp img {
	border: 10px solid black;
}

#Yangon img {
	border: 10px solid black;
}

#NYC img {
	border: 10px solid black;
}
