body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(blur.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navbar {font-family: 'Lukiest Guy', cursive;
color: red;
font-size: 18px;

}

.jumbotron {
	background-color: darkturquoise;
	color: white;
	border: 10px solid white;
}

#istanbul {
	color: white;
	margin: 80px;
}

#argentina {
	color: white;
	margin: 80px;
}

#mystery {
	color: white;
	margin: 80px;
}

img {

border: solid white;
}