body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(royal.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.jumbotron {
	margin-top: 50px;
	background-color: blue;
	color: white;
}